{
  "openapi": "3.1.0",
  "info": {
    "title": "Celune Platform API",
    "version": "1.0.0",
    "description": "REST API for the Celune project management and AI agent platform. Authenticate with API keys (Bearer token or X-API-Key header).",
    "contact": {
      "name": "Celune Support",
      "url": "https://docs.celune.ai"
    }
  },
  "servers": [
    {
      "url": "https://app.celune.ai",
      "description": "Celune Cloud"
    },
    {
      "url": "http://localhost:3002",
      "description": "Self-hosted, local development"
    }
  ],
  "security": [{ "BearerAuth": [] }, { "ApiKeyAuth": [] }],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key as Bearer token: `Authorization: Bearer celune_live_xxx`"
      },
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key via header: `X-API-Key: celune_live_xxx`"
      }
    },
    "schemas": {
      "Task": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "title": { "type": "string" },
          "description": { "type": "string", "nullable": true },
          "status": {
            "type": "string",
            "enum": ["inbox", "planned", "in_progress", "done", "archived"]
          },
          "priority": { "type": "string", "enum": ["urgent", "high", "normal", "low"] },
          "assignee": { "type": "string", "nullable": true },
          "project_id": { "type": "string", "format": "uuid", "nullable": true },
          "workspace_id": { "type": "string", "format": "uuid" },
          "parent_id": { "type": "string", "format": "uuid", "nullable": true },
          "due_date": { "type": "string", "format": "date", "nullable": true },
          "depends_on": { "type": "array", "items": { "type": "string", "format": "uuid" } },
          "category": { "type": "array", "items": { "type": "string" } },
          "metadata": { "type": "object", "nullable": true },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" },
          "completed_at": { "type": "string", "format": "date-time", "nullable": true }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "title": { "type": "string" },
          "description": { "type": "string", "nullable": true },
          "status": { "type": "string", "enum": ["active", "completed", "archived"] },
          "workspace_id": { "type": "string", "format": "uuid" },
          "group_id": { "type": "string", "format": "uuid", "nullable": true },
          "metadata": { "type": "object", "nullable": true },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "AgentConfig": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "agent_name": { "type": "string" },
          "display_name": { "type": "string", "nullable": true },
          "role": { "type": "string", "nullable": true },
          "description": { "type": "string", "nullable": true },
          "agent_type": { "type": "string", "nullable": true },
          "model": { "type": "string", "nullable": true },
          "color": { "type": "string", "nullable": true },
          "icon": { "type": "string", "nullable": true },
          "capabilities": { "type": "array", "items": { "type": "string" } },
          "is_active": { "type": "boolean" },
          "workspace_id": { "type": "string", "format": "uuid" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string" }
        },
        "required": ["error"]
      }
    },
    "parameters": {
      "WorkspaceId": {
        "name": "workspace_id",
        "in": "query",
        "required": true,
        "schema": { "type": "string", "format": "uuid" },
        "description": "The workspace ID to scope results to"
      }
    }
  },
  "paths": {
    "/api/tasks": {
      "get": {
        "operationId": "listTasks",
        "summary": "List tasks",
        "description": "Returns all tasks for the specified workspace. Supports filtering by status, project, and search.",
        "tags": ["Tasks"],
        "parameters": [
          { "$ref": "#/components/parameters/WorkspaceId" },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["inbox", "planned", "in_progress", "done", "archived"]
            },
            "description": "Filter by task status"
          },
          {
            "name": "project_id",
            "in": "query",
            "schema": { "type": "string", "format": "uuid" },
            "description": "Filter by project"
          },
          {
            "name": "search",
            "in": "query",
            "schema": { "type": "string" },
            "description": "Fuzzy search by title"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1 },
            "description": "Max number of tasks to return"
          }
        ],
        "responses": {
          "200": {
            "description": "List of tasks",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Task" } }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Error" } }
            }
          }
        }
      },
      "post": {
        "operationId": "createTask",
        "summary": "Create a task",
        "description": "Create a new task in the specified workspace.",
        "tags": ["Tasks"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title", "workspace_id"],
                "properties": {
                  "title": { "type": "string", "minLength": 1, "maxLength": 500 },
                  "description": { "type": "string", "nullable": true },
                  "status": {
                    "type": "string",
                    "enum": ["inbox", "planned", "in_progress", "done"],
                    "default": "inbox"
                  },
                  "priority": {
                    "type": "string",
                    "enum": ["urgent", "high", "normal", "low"],
                    "default": "normal"
                  },
                  "assignee": { "type": "string", "nullable": true },
                  "workspace_id": { "type": "string", "format": "uuid" },
                  "project_id": { "type": "string", "format": "uuid", "nullable": true },
                  "parent_id": { "type": "string", "format": "uuid", "nullable": true },
                  "due_date": { "type": "string", "format": "date", "nullable": true },
                  "category": { "type": "array", "items": { "type": "string" } }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Task created",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Task" } } }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Error" } }
            }
          },
          "401": { "description": "Unauthorized" },
          "429": { "description": "Plan limit reached" }
        }
      }
    },
    "/api/tasks/{id}": {
      "get": {
        "operationId": "getTask",
        "summary": "Get a task",
        "tags": ["Tasks"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Task details",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Task" } } }
          },
          "404": { "description": "Task not found" }
        }
      },
      "put": {
        "operationId": "updateTask",
        "summary": "Update a task",
        "tags": ["Tasks"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": { "type": "string" },
                  "description": { "type": "string", "nullable": true },
                  "status": {
                    "type": "string",
                    "enum": ["inbox", "planned", "in_progress", "done", "archived"]
                  },
                  "priority": { "type": "string", "enum": ["urgent", "high", "normal", "low"] },
                  "assignee": { "type": "string", "nullable": true },
                  "project_id": { "type": "string", "format": "uuid", "nullable": true },
                  "due_date": { "type": "string", "format": "date", "nullable": true }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task updated",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Task" } } }
          },
          "400": { "description": "Validation error" },
          "404": { "description": "Task not found" }
        }
      },
      "delete": {
        "operationId": "deleteTask",
        "summary": "Delete a task",
        "tags": ["Tasks"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "204": { "description": "Task deleted" },
          "404": { "description": "Task not found" }
        }
      }
    },
    "/api/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List projects",
        "description": "Returns all projects for the specified workspace.",
        "tags": ["Projects"],
        "parameters": [{ "$ref": "#/components/parameters/WorkspaceId" }],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Project" } }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/agents/configs": {
      "get": {
        "operationId": "listAgentConfigs",
        "summary": "List agent configurations",
        "description": "Returns all active agent configurations for the specified workspace.",
        "tags": ["Agents"],
        "parameters": [{ "$ref": "#/components/parameters/WorkspaceId" }],
        "responses": {
          "200": {
            "description": "List of agent configurations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/AgentConfig" }
                }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/analytics/usage": {
      "get": {
        "operationId": "getUsageAnalytics",
        "summary": "Get usage analytics",
        "description": "Returns usage summaries for the workspace, broken down by metric and period.",
        "tags": ["Analytics"],
        "parameters": [
          { "$ref": "#/components/parameters/WorkspaceId" },
          {
            "name": "period",
            "in": "query",
            "schema": { "type": "string", "enum": ["daily", "monthly"], "default": "daily" }
          }
        ],
        "responses": {
          "200": {
            "description": "Usage data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "summaries": { "type": "array", "items": { "type": "object" } },
                    "events": { "type": "array", "items": { "type": "object" } }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    }
  },
  "tags": [
    { "name": "Tasks", "description": "Create, read, update, and delete tasks" },
    { "name": "Projects", "description": "Project management" },
    { "name": "Agents", "description": "AI agent configuration" },
    { "name": "Analytics", "description": "Usage analytics and reporting" }
  ]
}
